*::-webkit-scrollbar {width: 0px; display: none;}
@font-face{
	font-family: Anesa;
	src: url("ANESA.ttf");
}
body{
	background: #282828;
	margin: 0;
	padding: 0;
	font-family: Anesa;
}
header{
	position: fixed;
	top: 0;
	background: #282828;
	width: calc(100% - 12px);
	height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 6px;
	transform-style: preserve-3d;
	border-bottom: 4px solid black;
	z-index: 1000;
	transform: translateZ(50px);
}
main{
	overflow-x: hidden;
}
.mainPage{
	margin-top: 91px;
	transform-style: preserve-3d;
	width: 100%;
	height: calc(100vh - 91px);
	background: #C4C4C4;
}

.headerLogoContainer{
	width: 162px;
	height: 70px;
	border: 2px solid black;
	overflow: hidden;
	background: black;
}
.headerLogoContainer:hover{
	box-shadow: inset 0px 0px 5px 5px red;
}
.headerLogoContainer:hover > .headerLogo{
	opacity: 0;
}
.headerLogoContainer:hover > div:not(:first-child){
	padding: 0px;
	background: black;
	box-shadow: inset 10px 10px 10px red, -10px -10px 10px red;
	border: 5px solid white;
}
.headerLogo{
	transition: opacity 0.5s;
	position: absolute;
	color: black;
	padding: 2px;
	margin: 6px;
	width: 146px;
	height: 54px;
	background: linear-gradient(0deg, white 50%, black 50%, black 100%);
	z-index: 100;
}
.logoflyer1{
	width: 100px;
	height: 100px;
	margin-top: 35px;
	margin-left: 81px;
	background: linear-gradient(225deg, black 40%, white 60%);
	transform-origin: 0 0;
	animation: 4s logospin1 linear infinite;
}
.logoflyer2{
	width: 100px;
	height: 100px;
	margin-top: -100px;
	margin-left: 81px;
	background: linear-gradient(225deg, black 40%, white 60%);
	transform-origin: 0 0;
	transform: rotate(180deg);
	animation: 4s logospin2 linear infinite;
}
@keyframes logospin1{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes logospin2{
	0%{
		transform: rotate(180deg);
	}
	100%{
		transform: rotate(540deg);
	}
}
.headerLogo > span{
	font-size: 1.1em;
	margin: 0;
	border-bottom: 2px solid;
}
.headerLogo > span:first-child{
	color: white;
}
.headerLogo > span:last-child{
	color: black;
	float: right;
	margin-top: 1vh;
}
.menu{
	width: calc(100% - 178px);
	height: 80%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 6px;
}
@media screen and (max-width: 740px){
	.headerLogoContainer{
		display: none;
	}
	.menu{
		width: calc(100% - 12px);
	}
}
menuItem{
	transition: 0.4s;
	color: #C4C4C4;
	width: 100px;
	height: 50%;
	border: 3px solid black;
	margin: 2px 3px;
	padding: 5px;
	font-size: 1em;
	background: #424242;
}
menuItem:hover{
	border: 3px solid #424242;
	color: white;
}
.mi1, .mi3{
	align-self: flex-start;
}
.mi2, .mi4{
	align-self: flex-end;
}
.menuLinksContainer{
	border: 3px solid yellow;
	border-radius: 10px;
	width: 170px;
	height: 80%;
	font-size: 1.4em;
	margin-right: 10px;
}
.linksNav{
	transition: top 0.5s;
	position: absolute;
	top: -100px;
	width: 180px;
	height: 160px;
	right: 22px;
	background: #424242;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	border-left: 3px solid black;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	transform: translateZ(-1px);
}
.linksNav > ul{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 1.5em;
	border-top: 1px solid black;
	font-size: 1em;
}
.linksNav > ul:hover{
	color: yellow;
}
.linksNav > ul > a{
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #C4C4C4;
}
.linksNav > ul > a:hover{
	color: yellow;
}
.colorBG{
	transition: transform 5s;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(0) rotate(45deg);
	width: max(100vh, 100vw);
	height: max(100vh, 100vw);
	background: yellow;
}
.colorBGMid{
	transition: opacity 0.5s;
	opacity: 0;
	position: absolute;
	width: 40vh;
	height: 30vh;
	background: cyan;
}
.BGContainer{
	position: absolute;
	top: 0;
	width: 100%;
	height: 90vh;
	overflow: hidden;
}
.BGContainerLeft{
	position: absolute;
	left: 0;
	height: 100%;
	width: calc(50vw - 38.5vh);
	background: url('cpuBGLeft.png') center center / auto 100%;
}
.BGContainerRight{
	position: absolute;
	right: 0;
	height: 100%;
	width: calc(50vw - 38.5vh);
	background: url('cpuBGRight.png') center center / auto 100%;
}
.BGContainerMid{
	position: absolute;
	left: 50%;
	top: 0px;
	transform: translate(-50%, 0%);
	height: 100%;
	width: 100vw;
	background: url('cpuBGMain.png') no-repeat center center / auto 100%;
}
.helpText0{
	transition: 0.5s;
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 6vh;
}
.helpText0 > a{
	text-decoration: none;
	color: rgba(42, 42, 42, 0.4);
	border-top: 10px solid black;
	border-bottom: 10px solid black;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
.helpText0 > a:hover{
	color: yellow;
	border-top: 10px solid yellow;
	border-bottom: 10px solid yellow;
}
.helpText1{
	transition: 0.5s;
	pointer-events: none;
	position: absolute;
	bottom: 0.5vh;
	left: 50%;
	transform: translateX(-50%);
	font-size: 6vh;
	color: rgba(42, 42, 42, 0.4);
}

.title{
	width: 80%;
	text-align: center;
	font-size: 2em;
	margin: 50% 10%;
}
.introducePage{
	transition: background 0.5s;
	background: rgb(0, 0, 0);
	display: flex;
	flex-direction: column;
	padding-top: 5vh;
	padding-bottom: 10vh;
}
.introduceTitle{
	color: white;
}
.introduceText{
	transition: 0.5s;
	max-width: 600px;
	padding: 2vh;
	color: white;
	font-size: 2em;
	border-radius: 2vh;
	margin: 15vh 5vh;
	box-shadow: inset 0vh 0vh 0vh red;
}
.introduceText:first-child{
	margin: 50vh 5vh 5vh 5vh;
}
.it1{
	align-self: flex-start;
	border-bottom: 0.5vh solid white;
	border-left: 0.5vh solid white;
	box-shadow: inset -0.5vh 0.5vh 1vh red;
	opacity: 0;
}
.it2{
	align-self: flex-end;
	border-bottom: 0.5vh solid white;
	border-right: 0.5vh solid white;
	box-shadow: inset 0.5vh 0.5vh 1vh purple;
	opacity: 0;
}
.it3{
	align-self: flex-start;
	border-bottom: 0.5vh solid white;
	border-left: 0.5vh solid white;
	box-shadow: inset -0.5vh 0.5vh 1vh yellow;
	opacity: 0;
}

.it12{
	
	opacity: 1;
}
.it22{
	
	opacity: 1;
}
.it32{
	
	opacity: 1;
}

.logicPage{
	transition: background 0.5s, color 0.5s;
	background: rgb(0, 0, 0);
	display: flex;
	flex-direction: column;
	align-items: center;
	color: rgb(255, 255, 255);
	overflow: scroll;
	padding-top: 5vh;
	border-bottom: 2px solid black;
}
.logicTitle{
	transition: color 0.5s;
	margin: 50% 0;
	padding: 2%;
	text-align: center;
	font-size: 2em;
	color: black;
}
.logicPictureContainer{
	opacity: 0;
	position: fixed;
	top: 89px;
	left: 0%;
	width: calc(100vw - 4px);
	height: 100vh;
	background: white;
	transition: opacity 0.5s;
	pointer-events: none;
}
.logicPicture{
	position: absolute;
	top: 31px;
	left: 50%;
	transform: translate(-50%, 0%);
	width: 74vh;
	max-width: 90vw;
	height: 50vh;
	max-height: 60.81vw;
	background: url('PhWork.jpg') no-repeat center center / auto 100%;
	border: 0.5vh solid black;
	border-radius: 2vh;
	box-shadow: 0px 0px 10px black;
}
.logicTextBlock{
	margin: 50vh 0;
	width: 100%;
}
.logicTextBlock > div{
	position: fixed;
	bottom: 5vh;
	padding: 2vh;
	left: 10%;
	width: 80%;
	border: 0.5vh solid black;
	font-size: 3vh;
	border-radius: 1vh;
	color: black;
	box-shadow: 0px 0px 10px black;
	transform: translate(-150%, 0);
	background: white;
}


.phisicPage{
	padding-top: 150vh;
	background: #C4C4C4;
}
.phisicTextBlock{
	width: 100%;
	box-shadow: 0px 15px 10px black;
}
.pi{
	object-fit: cover;
	width: 30%;
	height: 100%;
	margin: 5%;
	border: 5px solid black;
	cursor: zoom-in;
}
.pi:hover{
	box-shadow: 0px 0px 20px lightgreen;
}
.pt{
	height: 100%;
	margin: 5%;
	font-size: 2vw;
}
.extraPictureContainer{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	overflow: scroll;
	z-index: 100;
}
.extraPicture{
	object-fit: cover;
	position: absolute;
	width: 80vw;
	max-height: 80vh;
	margin-top: 2.5vh;
	border: 5px solid black;
	cursor: zoom-out;
}

.transferBlock{
	width: 100vw;
	height: 100vw;
	transform: rotate(45deg);
	margin-top: -100vw;
	background: #C4C4C4;
	border: 5px solid black;
}
.statsPage{
	color: white;
	background: #282828;
	padding-top: 30%;
	padding-bottom: 100px;
	overflow: hidden;
}
table{
	font-size: 1em;
	border: 5px solid #C4C4C4;
	color: white;
	width: 100%;
	min-height: 40vh;
	border-spacing: 0px;
}
td{
	padding: 2vh 2vw;
	width: 20%;
	background: #282828;
	border: 5px solid #C4C4C4;
}
tr > td:first-child{
	text-align: left;
	color: chartreuse;
}
tr:first-child > td{
	color: red;
	background: black;
	text-align: center;
}
tr:not(:first-child) > td:not(:first-child){
	text-align: center;
}
tr:not(:first-child):hover > td{
	background: #C4C4C4;
	color: black;
}
tr:not(:first-child):hover > td:first-child{
	background: #C4C4C4;
	color: #8000FF;
}
tr:not(:first-child):hover > td:not(:first-child){
	background: #C4C4C4;
	color: black;
}
.tableDecor{
	width: 100%;
	height: 1px;
	background: #C4C4C4;
	box-shadow: 0px 5px 3px black;
	display: flex;
	justify-content: space-between;
}
.tableDecor > div:first-child{
	width: 30px;
	height: calc(1.3em + 30px);
	background: #C4C4C4;
	box-shadow: 0px 5px 3px black;	
}
.tableDecor > div:last-child{
	width: calc(100vw - 260px);
	height: calc(1.3em + 30px);
	background: #C4C4C4;
	box-shadow: 0px 5px 3px black;	
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	color: black;
	font-size: 1.3em;
}
.prizeCounter{
	cursor: help;
	margin: 22px 10px;
}
.prizeButton{
	display: none;
	color: blueviolet;
	text-decoration: none;
	margin: 5px 10px;
}
.prizeButton:hover{
	color: red;
}

footer{
	margin-top: -42px;
	width: 100%;
	height: 100px;
	transform-style: preserve-3d;
	font-size: 1.3em;
}
.returnButton{
	position: absolute;
	bottom: 100px;
	margin: 5px 30px;
	padding: 15px;
	color: white;
}
.returnButton:hover{
	color: chartreuse;
}
.extraLinks{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #282828;
}
.infoBlock{
	padding: 5px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.icon{
	border-radius: 50%;
	margin-right: 20px;
	width: 50px;
	height: 50px;
	border: 2px solid;
	box-shadow: 0px 0px 5px;
}
.VKIcon{
	background: url('vkIcon.png') no-repeat center center / 100%;
}
.TGIcon{
	background: url('tgIcon.png') no-repeat center center / 120%;
}
.infoText{
	border-bottom: 2px solid;
	padding: 0px 5px;
}
footer a{
	color: white;
	text-decoration: none;
}
footer a:hover{
	color: chartreuse;
}
footer a:hover .icon{
	box-shadow: 0px 0px 5px chartreuse;
}
.secretButton{
	display: none;
	width: 40px;
	height: 40px;
	color: white;
	border-radius: 50%;
	border: 2px solid black;
}
.secretButton > p{
	font-size: 0.8em;
	text-align: center;
	width: 40px;
	margin: 50% 0%;
	transform: translate(0%, -50%);
}
.sb0{
	position: absolute;
	display: block;
	margin-top: -11px;
	margin-left: -45px;
	margin-bottom: 11px;
	margin-right: 45px;
}
.sb0 > p{
	font-size: 0.6em;
}
.sb0:active{
	background: black;
}
.sb1{
	float: right;
	margin-right: 5px;
	margin-top: -38vh;
}
.sb1:active{
	background: black;
}
.sb2{
	position: absolute;
	margin-top: -5vh;
}
.sb2:active{
	border: 2px solid white;
}
.sb3{
	position: absolute;
	left: 5px;
	bottom: 5px;
	color: black;
}
.sb3:active{
	color: red;
}
.sb4{
	transition: 0.4s;
	position: absolute;
	width: calc(100% - 4px);
	height: 4.5em;
	color: #C4C4C4;
	background: #424242;
	border-radius: 10px;
	border: 2px solid black;
}
.sb4:active{
	opacity: 0.5;
}
.sb4 > p{
	font-size: 1em;
	text-align: center;
	margin: 25px 0;
	width: 100%;
	transform: none;
}
